@font-face {
    font-family: 'aberration_demoregular';
    src: url(hopeless/HopelessDemo-WyOE4.ttf);
    font-style: normal;
    font-weight: 100;
}

body{

    background-color: black;

}

a{
    transition: 0.5s;
}

a {
    font-family: aberration_demoregular;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    margin: auto;
    text-decoration: none;
    color: white;
}

a:hover {
    font-size: 120px;
    text-shadow:0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px black, 
                0 0 40px black, 
                0 0 50px black,
                0 0 60px black; 
}